Repository aturingmachine/hockey-elo-tracker, pull requests merged in 2019-06, with the labels that each got.

#61 ELO-60: Configure Security For Kiosk
  kiosk/dist/electron/main.js
  kiosk/package-lock.json
  kiosk/src/main/index.js
  kiosk/src/renderer/components/LandingPage.vue
  kiosk/src/renderer/components/LandingPage/MatchSummary.vue
  kiosk/src/renderer/config/http.js
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/SecurityConfigurations.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/SessionFilter.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/controller/UserController.kt
  server/src/main/resources/application.properties
Labels: bug, kiosk-app

#62 ELO-58: Clean Up Codebase
  kiosk/src/renderer/App.vue
  kiosk/src/renderer/components/LandingPage.vue
  kiosk/src/renderer/components/LandingPage/GameCard.vue
  kiosk/src/renderer/components/LandingPage/MatchInProgress.vue
  kiosk/src/renderer/components/LandingPage/MatchSummary.vue
  kiosk/src/renderer/components/LandingPage/RegisterUser.vue
  kiosk/src/renderer/components/LandingPage/SignIn.vue
Labels: kiosk-app

#68 ELO-64: Login Route Returning 500 on missing RFIDs
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/RequestAwareAuthenticationSuccessHandler.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/RestAuthenticatedEntryPoint.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/SecurityConfigurations.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/SessionFilter.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/elohistory/model/EloHistory.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/elohistory/repository/models/EloHistoryRecord.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/elohistory/service/EloHistoryService.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/exception/MatchNotFound.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/model/Match.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/model/MatchCreationRequest.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/model/MatchSummary.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/model/ScoreUpdateRequest.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/model/UserMatchStats.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/match/repository/models/MatchRecord.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/statistics/EloRatings.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/controller/UserController.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/exception/UserAlreadyRegistered.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/exception/UserNotFound.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/model/UserLoginRequest.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/model/UserStats.kt
  server/src/main/kotlin/com/hockey/elo/elotracker/user/repository/models/UserStatsRecord.kt
  server/src/test/kotlin/com/hockey/elo/elotracker/elohistory/service/EloHistoryServiceTest.kt
Labels: bug

#67 ELO-59: Prepare for Beta
  kiosk/dist/electron/main.js
  kiosk/package-lock.json
  kiosk/src/main/index.js
  kiosk/src/renderer/App.vue
  kiosk/src/renderer/assets/RANCORIssueTracker.png
  kiosk/src/renderer/components/LandingPage.vue
  kiosk/src/renderer/components/LandingPage/ErrorModal.vue
  kiosk/src/renderer/components/LandingPage/MatchInProgress.vue
  kiosk/src/renderer/components/LandingPage/MatchSummary.vue
  kiosk/src/renderer/components/LandingPage/RegisterUser.vue
  kiosk/src/renderer/components/LandingPage/SignIn.vue
Labels: kiosk-app

#71 Elo 59
  kiosk/dist/electron/main.js
  kiosk/src/main/index.js
  kiosk/src/renderer/components/LandingPage.vue
  server/src/main/kotlin/com/hockey/elo/elotracker/configurations/SecurityConfigurations.kt
Labels: kiosk-app

#72 Elo-70: Dockerize server application
  server/.dockerigonore
  server/Dockerfile
  server/docker-compose.yml
  server/src/main/resources/application.properties
  server/src/main/resources/application.yaml
Labels: enhancement, server
